<!DOCTYPE html>
<html lang="en">


<head>
  <title>Molds America LLC</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <style>{% include 'style.css' %}</style>
</head>


<body>

<div class="jumbotron text-center">
  <h1>Molds America LLC</h1>
  <p>Affordable mold filling simulations for injection molded plastic parts.</p>
</div>


<div id="about-content">
  <div class="container">

    <div class="row">

      <div class="col-md-6 order-md-2">
        <img src="{{ url_for('static', filename='MALLC_Logo.png') }}">
      </div>

      <div class="col-md-6 order-md-1">
        <h2>Discover issues and streamline your molding process</h2>

        <p>
          By leverageing state of the art mold flow analysis and simulation
          techniques, we are able to discover hidden problems that might be
          plauging your injection molded products. We provide you with the
          insight you need to confidently evaluate your production process.
          And best of all, we're cost effective.
        </p>
      </div>

    </div>

    <div class="row icons">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-search"></span>
        <h3>Discover hidden problems in your parts</h3>
      </div>

      <div class="col-sm-4">
        <span class="glyphicon glyphicon-stats"></span>
        <h3>Gain insight into your production process</h3>
      </div>

      <div class="col-sm-4">
        <span class="glyphicon glyphicon-wrench"></span>
        <h3>Fix issues before they occur</h3>
      </div>
    </div>

    <div class="row animation">
      <div class="col-sm-12">
        <img src="{{ url_for('static', filename='CircleGIFWeldAir.gif') }}">
      </div>
    </div>

  </div>
</div>


<div id="services-divider" class="container-fluid">
  <div class-"row">
    <div class="col-sm-12 text-center">
      <h1>Services</h1>
    </div>
  </div>
</div>


<div class="services-item">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-sm-push-6 text-center">
        <h2>Part Fillings</h2>
        <p>
          Part filling simulations provide information about how the plastic will flow in
          part design, flow lines, gas traps with your suggested gating location.
          Additional simulations can be run to optimize gate location and size.
        </p>
      </div>

      <div class="col-sm-6 col-sm-pull-6 content-image">
        <img src="{{ url_for('static', filename='FillTime.png') }}">
      </div>

    </div>
  </div>
</div>


<div class="services-item">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 text-center">
        <h2>Mold Fillings</h2>
        <p>
          Mold filling simulations help determine if the part will fill with the proposed
          gate location and aid in checking that the cavity fill is balanced -- very important
          for family tools.
        </p>
      </div>

      <div class="col-sm-6 content-image">
        <img src="{{ url_for('static', filename='ShearStressEndFill.png') }}">
      </div>

    </div>
  </div>
</div>


<div class="services-item">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-sm-push-6 text-center">
        <h2>Complementary Presentation</h2>
        <p>
          Each simulation will have a full presentation that you can use to discuss with your
          clients. This interaction will help to keep your clients involved in the design or
          tooling process. Contact us if you would like to view a sample presentation.
        </p>
      </div>

      <div class="col-sm-6 col-sm-pull-6 content-image">
        <img src="{{ url_for('static', filename='VolumetricShrinkageEndFill.png') }}">
      </div>

    </div>
  </div>
</div>


<div class="footer">
  <div class="container">

    <div class="row footer-content">
      <div class="col-md-3 footer-content-header">
        <h3>Contact us.</h3>
      </div>


      <div class="col-md-6 col-md-offset-1">
        <p>info@moldsamerica.com</p>
      </div>
    </div>

    <div class="row text-center footer-copyright">
      <p>Copyright &copy; 2017 Molds America LLC. All rights Reserved.</p>
    </div>

  </div>
</div>

</body>
</html>
