/* VARIABLES */
:root{
  --dark-grey: #8C8C8C;
  --light-grey: #E1E1E1;
  --lighter-grey: #F8F8F8;
  --white: #FFFFFF;
  --blue: #0066CC;
}

/* BASIC */
body {
  background-color: var(--dark-grey);
}

/* HEADER */
.jumbotron {
  background-color: var(--blue);
  color: var(--white);
  border-bottom: 6em solid var(--dark-grey);
  margin-bottom: 0em;
}

/* ABOUT */
#about-content {
  background-color: var(--lighter-grey);
  padding-top: 3em;
  padding-bottom: 3em;
}
#about-content h2 {
  text-align: center;
  display: block;
  padding-top: 1.5em;
  padding-bottom: 0.2em;
  border-bottom: 1px solid var(--dark-grey);
}
#about-content img {
  height: auto;
  width: 100%;
}
#about-content .row:first-child {
  margin-bottom: 4em;
}
#about-content .icon {
  padding-top: 0.5em;
  border-top: 1px solid var(--dark-grey);
  text-align: center;
  font-size: 3.5em;
}
#about-content h3 {
  text-align: center;
}
#about-content .animation {
  width: 85%;
  margin: auto;
  height: auto;
  padding-top: 6em;
  padding-bottom: 3em;
}

/* SERVICES HEADER */
#services-divider {
  background-color: var(--blue);
  color: var(--white);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* SERVICES ITEMS */
.services-item {
  padding-top: 3em;
  padding-bottom: 3em;
}
.services-item h2 {
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 0.2em;
  border-bottom: 1px solid var(--dark-grey);
}
.services-item:nth-child(even) {
  background-color: var(--light-grey);
}
.services-item:nth-child(odd) {
  background-color: var(--lighter-grey);
}
.content-image {
  padding: 0em;
}
.content-image img {
  height: auto;
  width: 100%;
}

/* FOOTER */
.footer {
  background-color: var(--blue);
  color: var(--white);
}
.footer-content {
  padding-top: 3em;
  padding-bottom: 2em;
  text-align: center;
}
/* Larger than Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .footer-content-header {
    text-align: right;
  }
  .footer-content h3 {
    margin-bottom: 0em;
  }
  .footer-content p {
    margin-bottom: 0em;
    text-align: left;
  }
}
.footer-copyright p {
  color: var(--light-grey);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
